@charset "utf-8";
/* CSS Document */



body {
	background-color: #000;
	color: white;
	font-family: "Courier New", Courier, monospace;
}

#mask {
	width:100%;
	min-width:320px;
	min-height:1000px;
	height:auto;
	background-color:#151515;
}

#body #mask #statementdiv {
	margin-top:-0px;
	padding-top: 13px;
	width:100%;
	min-width:320px;
	min-height:1000px;
	height:auto;
	text-align:center;
}

#body #mask #statementdiv #Statement {
	font-size:18px;
	font-weight: 800;
}
.buttons {
	padding: 10px;
}
